.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #b1d3ea; 
  text-align: center;
  scroll-behavior: smooth;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh; 
  width: 100%;
}

.typing-text {
  font-size: 4rem;
  color: #094381;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 2.5s steps(17, end) forwards;
  font-family: 'Courier New', Courier, monospace;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

h1 {
  font-size: 1.8rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lessonTitle {
  font-size: 2rem;
  color: #094381;
  text-align: center;
  font-weight: bold;

}

.scroll-down {
  font-size: 1rem;
  color: #0b0c0d;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  margin-top: 20px;
}

.next-section {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.circle {
  width: 100px !important;
  height: 100px !important;
  background-color: #094381;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  flex-shrink: 0;
}

.circle:hover {
  background-color: #0056b3;
}

.line {
  width: 100px;
  height: 7px;
  background-color: #094381;
}


.subtopics {
  display: block; /* Visible when the topic is clicked */
  position: absolute;
  top: 131%;
  left: 21%;
  background-color: #f1f1f1;
  width: 10%;
  border: 1px solid #ccc;
  z-index: 1;
}

.subtopic {
  padding: 10px;
  cursor: pointer;
}

.subtopic:hover {
  background-color: #ddd;
}

.daily-challenge {
  position: absolute;
  top: 1100px;
  color: #094381;
  text-align: center;
  font-size: 1.8rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 