.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #b1d3ea; 
    text-align: center;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;
  }

  img {
    display: block;
    margin: 10px auto; 
    width: 500px;
    height: 250px;
}
.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #b1d3ea;
    transition: 0.3s;
}

.btn:hover {
    background-color: #b1d3ea;
}

.correct {
    background-color: #4CAF50 !important;
    color: white;
}

.wrong {
    background-color: #f44336 !important;
    color: white;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}